<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MotoSoft.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <userSettings>
        <MotoSoft.Properties.Settings>
            <setting name="APP_ID" serializeAs="String">
                <value>Vladisla-MotoSoft-PRD-6ea920fd0-baef81df</value>
            </setting>
            <setting name="DEV_ID" serializeAs="String">
                <value>4a0a3d23-faba-49cb-8651-d32492ca4ca3</value>
            </setting>
            <setting name="CER_ID" serializeAs="String">
                <value>PRD-ea920fd07250-4174-4006-9425-6fe7</value>
            </setting>
            <setting name="eBayToken" serializeAs="String">
                <value>AgAAAA**AQAAAA**aAAAAA**j9LJXA**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6ACloWoDZOBoAidj6x9nY+seQ**M/wFAA**AAMAAA**JbTjG4xi7lm/2e4PB71br/H8bZ4Fkh4t505kiD2CIPvTrHCNkq8FqgcHrUrm6RIi1fbcAwQS6pdKAt7hZpl2fFmt7MAIjzs0Z5FJVh5OaCG0sWRmfQ4zVGPIlxdkYT/urBq4lBafmT7MsxZG/vnSUv44crcVqJdczVXtk7qCzCGv6xgd2h+yHGYFQwub2h/ZpxqsIpyl6fG+TbuDEg9WabJME4vYgEUGyrgXVNrDYMvXjJ8BCL/sEkIvrhxoi9SsuP3Obf/ZFlpLBuGsANJfka3XMntw67IfMOD84fwLpaKn9YRA+4ZYQm0qw4TlTckjXCmxQ/jaxMduCJysmtGXLMKpWxgHKRcwLlQ9RBOjrMzXuK/xMwUDSbjFD6DqqDpTo/FvpYBD7lojtOfcDG23Pv4JKRl/4FJdSZ7alZgLXxqEfXlSXPywDE257cRMTlr3xj1MDILyb0AVXr1usR2KZrBhA79EBcBcH4SA/PDoFAxyuad3ni1/ABk+MGQc9UgkRA/WVQwHE73Sx7idr334LMTEfj1yWY+SS7E1fAPqgoxoXN9hToa7Oc2zGPt67D7e6NJ8awf9ObRlItMz8CfIqqwym4x9B1gD/9s8HH6Q/Ag7zuYNS0tR1QO0k6pAPpjddxN4fp9/T47Cnrq+HUxuRukmS3q7rA+9t0ki5i4StLuH3O5iFtFeGyoPE+qhFA3can6yiSIqysMqpsFsGpcBGS61eJqutRw1FFfaCH7Ez4zLXul2At7GYCLfH6bCLOtc</value>
            </setting>
            <setting name="redirecturi" serializeAs="String">
                <value>Vladislav_Gnato-Vladisla-MotoSo-ypsfzj</value>
            </setting>
            <setting name="SAPP_ID" serializeAs="String">
                <value>Vladisla-MotoSoft-SBX-beaa02434-56302677</value>
            </setting>
            <setting name="SDEV_ID" serializeAs="String">
                <value>4a0a3d23-faba-49cb-8651-d32492ca4ca3</value>
            </setting>
            <setting name="SCER_ID" serializeAs="String">
                <value>SBX-eaa024340ab1-50a9-4e1e-9adf-dd69</value>
            </setting>
            <setting name="SeBayToken" serializeAs="String">
                <value>AgAAAA**AQAAAA**aAAAAA**eybMXA**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6wFk4aiCZKCqQmdj6x9nY+seQ**FvwEAA**AAMAAA**ngTjt9WsvfwlYsKj/j5VdHs0C61gHRVkQnfCoha+AThGzRdh9dV8cAP+s1y0UekrYV+Y3n7KRvIJdEGXI5x5ok7yOTxjTD9M6Ch2tYOs/IY4dKGaoK+x6wgWi83BwQe7kQNvA2bxSgb17qILmR1S+ScL0Lzq9Pdj9UiKZN4H4UuprrrWr7Wn9KKEPv2Vf6iWfwZrWXIY0kfCVkVMEwgZDKodNtDtfcAzDY3rET8LFkuFpCet+sqIiLkEhodVW8vE7u2Yj7Nwc8WLvWgdAi0NTtu3ADi6eytMomMTjkeUKxbNyI5ROsTcPy1JCCivUHxS1EbCOjoOG3dz++37Xxog7vX5KfXIGR72AR3r+Q0onbxXvrh8VYpxMvK4sFyieiDGohdTnkatIYtxcT8O+mEsMh0Ch784Z1ba7yLAU+ybWV/EVsQd8T34VzzPZv3PuukWaebs+TW6tNbNlwMF8/sWjwue/ENHy99dqusGDXSveGXBVIB6G9gVl3lCv64+ywRwzg9hoPR6gi2+EQ5bR4TlWizljQP8/YP4GWdTcA77BfcqLuofJp3ZHt1TvDNXtcMqiXbSiq51ZVS1PUZu7VXM3MY0aiX297/rnl8n1MyO0k5qbgYEWUCn7JaPeFFK+JucaRv1e5lczTz5mbuGW2mIZ3Nm4I1a2jXTzsCgmQGQzMYWq+uG0c62/PViUPa1wt54jEc+9pkcFx48ALRzUVor4JxJtD54CWvecbrziSL+HoVBB9Y3YQcncGUUmLrxx427</value>
            </setting>
            <setting name="Sredirecturi" serializeAs="String">
                <value>Vladislav_Gnato-Vladisla-MotoSo-ijvkgi</value>
            </setting>
        </MotoSoft.Properties.Settings>
    </userSettings>
</configuration>